<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/assets/style.css" />
    <title>Blogs - CourseExpert</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="script.js"></script>
  </head>
  <body></body>
</html>

<%- include("../views/header.ejs") %>
<div class="blog-container">
  <div class="card">
    <div class="leftcolumn">
      <img src="https://miro.medium.com/max/1400/0*sbWEFY4IAA3PMuYI.png" />
    </div>
    <div class="rightcolumn">
      <a
        href="https://medium.com/javarevisited/coursera-deep-learning-specialization-by-andrew-ng-review-is-it-worth-it-in-2021-e3d11d7687d1"
        target="_blank"
      >
        <h2>CDataCamp Python Courses Review — The Click Reader</h2>
        <h5>The Click Reader<br />Oct 7, 2021</h5>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="leftcolumn">
      <img
        src="https://miro.medium.com/max/1400/1*A_SksBFPckcLpVOV4qkYXQ.jpeg"
      />
    </div>
    <div class="rightcolumn">
      <a
        href="https://medium.com/javarevisited/coursera-deep-learning-specialization-by-andrew-ng-review-is-it-worth-it-in-2021-e3d11d7687d1"
        target="_blank"
      >
        <h2>
          Coursera Deep Learning Specialization by Andrew Ng Review — Is it
          Worth it in 2021?
        </h2>
        <h5>Javin Paul<br />Sep 3, 2021</h5>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="leftcolumn">
      <img
        src="https://sm.pcmag.com/t/pcmag_uk/review/u/udacity/udacity_ha88.1920.jpg"
      />
    </div>
    <div class="rightcolumn">
      <a
        href="https://pyarisingh.medium.com/udacitys-data-engineering-nano-degree-a-review-e6692c3a7eb1"
        target="_blank"
      >
        <h2>Udacity’s Data Engineering Nano Degree — A Review</h2>
        <h5>Pyari Singh K<br />July 6, 2021</h5>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="leftcolumn">
      <img src="https://miro.medium.com/max/1400/0*fWK2vpFXK0axBGEM" />
    </div>
    <div class="rightcolumn">
      <a
        href="https://medium.com/javarevisited/the-complete-python-bootcamp-udemy-course-review-b1ab69f232b5"
        target="_blank"
      >
        <h2>The Complete Python BootCamp 2021— Udemy Course Review</h2>
        <h5>javin Paul<br />May 31, 2021</h5>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="leftcolumn">
      <img
        src="https://miro.medium.com/max/2000/1*NnDXJGkH-1OpMMh3My7JDA.jpeg"
      />
    </div>
    <div class="rightcolumn">
      <a
        href="https://uxdesign.cc/is-the-google-ux-course-any-good-f736a54c3f70"
        target="_blank"
      >
        <h2>Is the Google UX course any good?</h2>
        <h5>Michal Malewicz<br />May 10, 2021</h5>
      </a>
    </div>
  </div>
</div>
