<header class="admin__header">
  <div class="title">
    <span><a href="/index">CourseExpert</a></span>
  </div>
  <nav class="navContainer">
    <form action="/search" method="POST">
      <div class="search">
        <input
          type="hidden"
          id="search"
          name="search"
          placeholder="Search..."
        />
        <button type="hidden" id="search-btn"></button>
      </div>
    </form>
    <a
      class="link"
      onMouseOver="this.style.color='#92a8d1'"
      onMouseOut="this.style.color='#034f84'"
      href="/index"
      >Courses</a
    >
    <a
      class="link"
      onMouseOver="this.style.color='#92a8d1'"
      onMouseOut="this.style.color='#034f84'"
      href="/wishlist"
      >Wishlist</a
    >
    <a
      class="link"
      onMouseOver="this.style.color='#92a8d1'"
      onMouseOut="this.style.color='#034f84'"
      href="/blog"
      >Blogs</a
    >
    <a
      class="link"
      onMouseOver="this.style.color='#92a8d1'"
      onMouseOut="this.style.color='#034f84'"
      href="/support"
      >Support</a
    >
    <div class="userContainer">
      <div class="user">
        <div class="img"></div>
        <span class="name"><%=username%></span>
        <form action="/login">
          <button id="logout-btn" type="submit" class="btn btn-default btn-sm">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>
