<html>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
  <link rel="stylesheet" href="../public/assets/homepage.css" />
  <body>
    <script src="../public/assets/homepage.js"></script>
    <div class="hero">
      <nav>
        <div class="logo">
          <h1>CourseExpert</h1>
        </div>
        <a href="/login"><button type="button">Login</button></a>
      </nav>

      <div class="row">
        <div class="col-1">
          <h1 id="head">Welcome To CourseExpert</h1>
          <p id="desc">A Library of MOOC Courses from Multiple Platforms</p>
          <a href="/register"
            ><button action="/register" type="button">Get Started</button></a
          >

          <ul>
            <li class="btn active"></li>
            <li class="btn"></li>
            <li class="btn"></li>
          </ul>
        </div>
        <div class="col-2">
          <img
            src="https://d3e3a9wpte0df0.cloudfront.net/wp-content/uploads/2020/08/Role-models-for-educational-platforms.jpg"
            id="banner"
          />
        </div>
      </div>
    </div>
  </body>
</html>
